<div class="container">
    <div class="row">
        <div class="col-lg-2">
            <div>
                <div id="treeView" ej-treeview
                     e-fields-datasource="CategoryService.data"
                     e-fields-id="id"
                     e-fields-parentid="pid"
                     e-fields-text="name"
                     e-fields-haschild="hasChild"
                     e-fields-expanded="expanded" />
            </div>
        </div>
        <div class="col-lg-10">
            
            <!-- Top products -->

            <!-- Categories big-menu -->

        </div>
    </div>
</div>