


<div class="jumbotron">
    <h1></h1>
    <p class="lead">Hello guys on my sample project. It will be show off of my skills and playground at the same time. I will make projects full of functionallity.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Shop</h2>
        <p>
            First project will be the shop with products, cart, reviews, complaints, support.
        </p>
        <p>
            @*<a class="btn btn-primary" href="ShopPage">Go inside &raquo;</a>*@
            @Html.ActionLink("Go inside »", "Index", "Index", new { area = "ShopPage" }, new { @class = "btn btn-primary" })
        </p>
    </div>
    <div class="col-md-4" style="opacity:.4;">
        <h2>Chat</h2>
        <p>Based on SignalR framework it will be chat clients with support from the shop.</p>
        <p><a class="btn btn-default" href="#">Go inside &raquo;</a></p>
    </div>
    <div class="col-md-4" style="opacity:.4;">
        <h2>Mobile App</h2>
        <p>With Xamarin I will make mobile app for Android & IOS of the shop.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>PDF Manager</h2>
        <p>
            Check out the PdfViewer directive from Syncfusion.com<br />
        </p>
        <p>
            @*<a class="btn btn-primary" href="ShopPage">Go inside &raquo;</a>*@
            <a class="btn btn-primary" href="../shop-page/pdfs">Go inside &raquo;</a>
        </p>
    </div>
</div>